*.dSYM/
*.d
*.su
*.o
*.so
*.a
*.la
*.lo
*.pc
*.mk
*.in
*.spec
*.cmake
*.cache
platform/*/meg4
platform/meg4*
platform/emscripten/meg4.js
platform/emscripten/meg4.wasm
platform/sdl/SDL2
platform/sdl/SDL3
platform/glfw_pa/glfw3
platform/glfw_pa/portaudio
src/editors/pro.*
data.c
data.h
stamp-h1
.dirstamp
.deps
.libs
TODO.txt
