*.dSYM/
*.d
*.su
*.o
*.so
*.a
*.la
*.lo
*.pc
*.in
*.spec
*.cmake
*.cache
*.iso
meg4*
platform/*/meg4
platform/emscripten/meg4.js
platform/emscripten/meg4.wasm
platform/sdl/SDL*
platform/glfw_pa/glfw*
platform/glfw_pa/portaudio*
platform/raylib/raylib*
platform/fbdev_alsa/alsa-lib*
platform/raspberrypi/rootfs
platform/raspberrypi/boot
platform/raspberrypi/firmware.zip
src/editors/pro.*
data.c
data.h
stamp-h1
.dirstamp
.deps
.libs
TODO.txt
